[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python3-saml = "~=1.6"
Django = "~=2.2"
uwsgi = "*"
requests = "*"

[requires]
python_version = "3.7"
